<title>Home</title>
<div class="colorlib-product" id="homeIndex">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading">
                <h2>Newest</h2>
            </div>
        </div>
        <div class="row row-pb-md">
            @for (var i = 0; i < ViewBag.Size; i++)
            {
                <div class="col-lg-3 mb-4 text-center">
                    <div class="product-entry border">
                        <a href="/Product/ProductDetail?productID=@ViewBag.ProductList[i].ProductID" class="prod-img">
                            <img class="img-fluid" alt="@ViewBag.ProductList[i].ProductName" src="../images/@ViewBag.ProductList[i].ImageName">
                        </a>
                        <div class="desc">
                            <h2><a href="/Product/ProductDetail?productID=@ViewBag.ProductList[i].ProductID">@ViewBag.ProductList[i].ProductName</a></h2>
                            <span class="price">@ViewBag.ProductList[i].Price VND</span>
                        </div>
                        <div class="add-to-cart">
                            @if (@HttpContext.Current.Session["CartID"] == null)
                            {
                                <button class="btn btn-primary btn-add-cart text-center" type="submit" onclick="updateCart(@ViewBag.ProductList[i].ProductID,0)">Add To Cart</button>

                            }
                            else
                            {
                            <button class="btn btn-primary btn-add-cart text-center" type="submit" onclick="updateCart(@ViewBag.ProductList[i].ProductID,@HttpContext.Current.Session["CartID"])">Add To Cart</button>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>